<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    

    <!-- Bootstrap CSS -->
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--Owl Carousel CSS-->
    <link rel="stylesheet" href="{% static 'app/css/owl.carousel.min.css' %}">

    <!--FontAwesome CSS-->
    <link rel="stylesheet" href="{% static 'app/css/all.min.css' %}">

    <!--Custom CSS-->
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">


    <title>CTC| {% block title %} {% endblock title %} </title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #f07428;"> 
     <div class="container">
       <a class="text-warning navbar-brand me-5" href="/"><span class="badge rounded-pill  bg-light text-info">C T C </span></a>
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <form  class="example d-flex">
        <input  class="form-control " type="search" placeholder="Search.." aria-label="Search for product and more">
        <button class="btn btn-warning me-3 " type="submit"><i class="fa fa-search"></i></button>
        {% comment %} <button type="submit"><i class="fa fa-search"></i></button> {% endcomment %}
      </form>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav me-auto mb-2 mb-lg-0">
           {% comment %} <li class="nav-item">
             <a class="nav-link active" aria-current="page" href="/">Home</a>
           </li> {% endcomment %}
          
             <li class="nav-item">
              <a class="nav-link active me-3" aria-current="page" href="{% url 'mobile' %}">Mobile</a></li>
              <a class="nav-link active me-3" aria-current="page" href="{% url 'laptop' %}">Laptop</a></li>
              <a class="nav-link active me-3" aria-current="page" href="{% url 'topwear'%}">Top Wear</a></li>
              <a class="nav-link active me-3" aria-current="page" href="{% url 'bottomwear' %}">Bottom Wear</a></li>
              <a class="nav-link active me-3" aria-current="page" href="{% url 'grocery' %}">Grocery</a></li>
              <a class="nav-link active me-3" aria-current="page" href="{% url 'furniture' %}">Furniture</a></li>

            </li>   
             
         
           
        
         <div>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if request.user.is_authenticated %}
           <li class="nav-item dropdown mx-2">
              <a class="nav-link dropdown-toggle text-white" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{request.user.username|capfirst}}
              </a>
              <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                <li><a class="dropdown-item" href="{% url 'orders' %}">Orders</a></li>
                <li><a class="dropdown-item" href="{% url 'passwordchange' %}">Change Password</a></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
              </ul>
            </li>
            <li class="nav-item mx-2">
             <a href="{% url 'showcart' %}" class="nav-link text-white"><span class="badge bg-danger">{{totalitem}}</span> Cart </a>
            </li>
            {% else %}
            <li class="nav-item mx-2">
             <a href="{% url 'login' %}" class="nav-link text-white me-3"><i class="fa fa-user"></i>  Login </a>
            </li>
            <li class="nav-item mx-2">
             <a href="{% url 'customerregistration' %}" class="nav-link text-white"><i class="fa fa-address-card"></i>  Registration</a>
            </li>
            {% endif %}
          </ul>
         </div>
       </div>
     </div>
    </nav>
    {% block banner_slider %} {% endblock banner_slider %}
    {% block livesale %} {% endblock livesale %}
    {% block main-content %} {% endblock main-content %}
    {% block payment-gateway %} {% endblock payment-gateway %}

    
    
    <!-- Start Footer -->
    <footer style="background-color: #ffffff; margin-top: 20px; padding: 20px 0;">
      <div style="width: 100%; padding: 0 20px; box-sizing: border-box;">
          <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 10px;">
              <a href="#" style="text-decoration: none;">
                  <h2 style="font-size: 3xl; font-weight: bold; color: black;">
                      Chnadra<span style="color: #bd2a28; font-style: italic;">TC</span>
                  </h2>
              </a>
              
          </div>
          <div style="display: flex; flex-direction: column; gap: 5px; align-items: center; justify-content: center; padding-top: 4px;">
              <ul style="display: flex; gap: 5px; color: #87bdd8;">
                
              </ul>
              <p style="color: #87bdd8;">©2023 All rights reserved.</p>
          </div>
          <div style="display: flex; gap: 5px; justify-content: space-between; padding-top: 4px;">
              <!-- Add styles for the download buttons -->
          </div>
      </div>
  </footer>
  <!-- Start Footer -->
  <footer class="container-fluid bg-dark text-center p-2 mt-5">
      <small class="text-white">Copyright &copy; 2023 || Designed By Ashutosh Gaur || </small>
      <img src="{% static 'app/images/payment.png' %}" alt="" srcset="" class="img-fluid" height="2px">
  </footer> <!-- End Footer -->
  <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <script src="{% static 'app/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'app/js/all.min.js' %}"></script>
    <script src="{% static 'app/js/myscript.js' %}"></script>
  </body>
</html>