{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Reset Done{% endblock title %}
{% block main-content %}
<div class="container-fluid">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <div class="card-body">
                <img src="{% static 'app/images/payavail/welldone.png' %}" alt="" srcset="" class="img-fluid  me-5 p-5" >
                </div>
            <h4 class="alert-heading">Good Job</h4>
            <p>Email has been sent with instructions to reset your password. <br> <b>Check Your Email!</b></p>
        </div>
    </div>
</div>
{% endblock main-content %}